* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ba7df3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box, .welcome-box {
    background-color: #eac0c0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-box h2, .welcome-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #8b2c2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #562188;
}

.welcome-box a {
    text-decoration: none;
    color: white;
    background-color: #dc3545;
    padding: 10px 20px;
    border-radius: 5px;
}

.welcome-box a:hover {
    background-color: #4f23c882;
}
.admin-box, .user-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.admin-box h2, .user-box h2 {
    margin-bottom: 20px;
    text-align: center;
}
